/* Variables*/
$color-one:#34ace0;
$color-two: #33d9b2;
$color-three: #ff5252;

$font-text: 'Inconsolata',
monospace;
$font-titles: 'Signika',
sans-serif;

$font-color-white: #ffffff;
$font-color-dark: #2c2c54;

$transition: all .5s;

/* Global */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
    color: $font-color-dark;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

section {
    padding: 96px 0;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;

    &:hover {
        background-position: 0 100%;
    }
}

.btn-one {
    border-color: $font-color-white;
    color: $font-color-white;
    background-image: linear-gradient(90deg, #ffffff 50%, $color-one 50%);

    &:hover {
        color: $color-one;
    }
}

/* Navigation */
.navigation {
    background-color: $color-one;
    padding: 12px 0;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        ul {
            display: none;
            position: absolute;
            background-color: $font-color-white;

            a {
                color: $color-two;

                &:hover {
                    color: $color-one;
                }
            }

            li {
                display: block;
                padding: 0 24px;
                padding-top: 12px;
                left: 50%;
                transform: translateX(-50%);
                margin-bottom: 12px;
            }
        }
    }

    li {
        display: inline-block;
        margin-right: 36px;
        position: relative;

        &:hover ul {
            display: block;
            text-align: center;
        }
    }

    a {
        text-decoration: none;
        color: $font-color-white;
        transition: .2s;

        &:hover {
            color: $color-two;
        }
    }
}

/* Header */
.splash {
    background-color: $color-one;
    color: $font-color-white;
    height: 500px;
    display: flex;

    .splash-inner {
        margin: auto;
        max-width: 70%;

        h1 {
            margin: 0;
            font-size: 72px;
            word-spacing: 24px;
            font-weight: 700;
            line-height: 1.2;

            span {
                font-family: $font-titles;
            }
        }

        h2 {
            margin: 24px 0;
            font-weight: 400;
            font-size: 16px;
        }

        a.btn-one {
            margin-left: 0;
        }
    }
}

/* Services */
.services h1 {
    font-size: 48px;
    margin: 0 0 72px 0;
    padding-top: 0;
}

.wrapper-ser {
    display: grid;
    grid-template-columns: auto auto auto;

    .btn-service {
        margin: 0 auto;
        order: 1;

        .btn-four {
            border-color: $color-one;
            color: $color-one;
            background-image: linear-gradient(90deg, $color-one 50%, #ffffff 50%);

            &:hover {
                color: $font-color-white;
            }
        }

        .btn-three {
            border-color: $color-three;
            color: $color-three;
            background-image: linear-gradient(90deg, $color-three 50%, #ffffff 50%);

            &:hover {
                color: $font-color-white;
            }
        }

        .btn-two {
            border-color: $color-two;
            color: $color-two;
            background-image: linear-gradient(90deg, $color-two 50%, #ffffff 50%);

            &:hover {
                color: $font-color-white;
            }
        }
    }

    .item {
        position: relative;
        height: auto;
        overflow: hidden;
        text-overflow: ellipsis;

        h3 {
            font-family: $font-titles;
            font-size: 144px;
            line-height: 1;
            position: absolute;
            opacity: 0.3;
            color: $color-one;
            top: -160px;
            left: 0;
        }

        h4 {
            font-size: 24px;
            margin: 0 0 12px 0;
        }

        p {
            color: $font-color-dark;
            font-family: $font-text;
            padding-right: 4vw;

            &:first-of-type {
                font-weight: bold;
            }
        }
    }
}

/* Work */
h1 {
    font-size: 48px;
    margin: 0;
    padding: 0 0 30px 0;
}

.work .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .box-wrap {
        min-height: 300px;
        //padding jeszcze mi zostal
        padding-bottom: 96px;
        
        
        display: grid;
        grid-template:
            "img box"1fr;

        .img {
            width: 100%;
            height: 100%;
            max-width: 250px;
            position: relative;
            grid-area: img;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.box {
    max-width: 250px;
    padding-left: 30px;
    height: 100%;
    grid-area: box;

    p {
        text-align: justify;
        padding: 0 2vw 0 15px;

        &:last-of-type {
            font-weight: bolder;
        }
    }

    h3 {
        text-align: left;
        padding-left: 1vw;
    }

    .btn-five {
        border: none;
        margin: 36px 0;
        padding: 0 1vw;
        text-align: left;
        background-color: transparent;
        color: $color-one;
        font-weight: bolder;

        &:hover {
            color: $color-two;
        }
    }
}

.img::after {
    position: absolute;
    content: '';
    top: 20px;
    left: 20px;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.3;
    transition: .5s ease;
}

.img:hover::after {
    top: 0;
    left: 0;
}

/* Form */
.form-section {
    background-color: $color-one;
}

.form-wrap {
    display: flex;
    justify-content: space-between;

    .form {
        flex-grow: 2;
        padding-right: 96px;

        h1 {
            color: $font-color-white;
            padding: 0 0 0 2vh;
            flex-basis: 100%;
        }

        input,
        textarea {
            background-color: transparent;
            border: none;
            border-bottom: 4px solid $font-color-white;
            color: $font-color-white;
            width: 100%;
            padding: 15px 0 15px 0;
            font-size: 18px;

            &:focus {
                background-color: transparent;
                outline-color: transparent;
            }

            &:valid {
                outline-color: transparent;
            }

            &::placeholder {
                color: $font-color-white;
                font-size: 16px;
            }
        }
    }

    .personal-data {
        flex-grow: 1;
        color: $font-color-white;
        padding-top: 16vh;

        h2 {
            font-size: 20px;
        }

        h2,
        p {
            margin: 0;
        }
    }
}

/* Footer */
footer {
    background-color: $font-color-white;
    padding: 46px 0;
    display: flex;
    justify-content: space-between;

    .social-links {
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
    }

    .social-links li {
        display: inline-block;
        border: 2px solid $color-three;
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 0;
        border-radius: 30px;
        position: relative;
        background-color: $color-three;
        transition: .2s;

        &:hover {
            transform: scale(1.2);
        }
    }

    .social-links li a {
        display: block;
        width: 100%;
        height: 100%;

        i {
            color: $font-color-white;
            font-size: 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

/* Media */
@media (min-width: 768px) and (max-width: 991px) {
    .navigation {
        display: flex;

        ul {
            margin: auto;
        }
    }

    /* Header */
    header {
        height: auto;

        .splash-inner {
            text-align: center;

            h1,
            h2 {
                text-align: center;
                margin-left: 0;
            }
        }

        a.btn-one {
            margin: 0 0 30px 0;
        }
    }

    /* Form */
    .form {
        position: relative;

        button {
            position: absolute;
            left: 50%;
        }
    }

    /* Our work */
    .work {
        padding-top: 0;
    }

    .work .wrapper {
        .box-wrap {
            display: grid;
            margin: auto;
            grid-template:
                "img"auto "box"auto;

            .box {
                width: 100%;
                grid-area: box;
                padding: 0;
                display: flex;
                flex-direction: column;
                p {
                    text-align: left;
                    padding-bottom: 0;
                    &:last-of-type {
                       margin-top: 0;
                    }
                }

                button {
                    margin: 0;
                    text-align: center;
                }
            }

            .img {
                max-height: 204px;
                grid-area: img;
            }
        }
    }
}

@media (max-width: 767px) {

    /* Navigation */
    .navigation {
        display: flex;

        ul {
            margin: auto;
        }
    }

    /* Header*/
    header {
        height: auto;

        .splash-inner {
            text-align: center;

            h1.page-title {
                padding-top: 10px;
                font-size: 42px;
            }

            h2 {
                text-align: center;
                margin-left: 0;
            }

            a.btn-one {
                margin: 0 0 30px 0;
            }
        }
    }

    * h1 {
        text-align: center;
    }

    /* Our work */
    .work {
        padding-top: 0;

        .wrapper {
            grid-template-columns: auto;
            .box-wrap {
                height: 150px;
                margin: 15px auto;
        
                .box {
                    padding-top: 0;
                    margin: 0 auto;
                    width: 100%;
        
                    h3 {
                       margin-top: 0;
                    }
        
                    p {
                        padding: 0;
                    }
        
                    button {
                        margin: 0;
                    }
                }
        
                .img {
                    max-height: 204px;
                    min-width: 250px;
                }
            }
        
        }
    }

    
    // services
    .services div.container {

        .wrapper-ser {
            display: grid;
            grid-template-columns: auto;

            .btn-service {
                margin: 0 auto;
            }

            .item {
                text-align: justify;
                padding-bottom: 40px;
                width: 70vw;
                margin: 50px auto;
                height: auto;
                overflow: hidden;
                text-overflow: ellipsis;
                order: 1;
            }
        }
    }

    /* Form */
    .form-wrap {
        display: flex;
        flex-direction: column;
    }

    .form {
        position: relative;
        padding-left: 15vw;

        button {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .personal-data {
        margin-top: 50px;
        text-align: center;
    }
}

@media (max-width: 461px) {

    /* Navigation */
    .navigation {
        display: flex;

        ul {
            margin: auto;

            li {
                margin: 0;
            }
        }
    }

    /* our work */
    .work {
        padding-top: 0;
        display: grid;
        grid-template-columns: auto;
    }

    .work .wrapper {
        .box-wrap {
            grid-template:
                "img"auto "box"auto;
            margin: 85px auto;

            .box {
                grid-area: box;
                padding: 0;
                display: flex;
                flex-direction: column;

                 p{
                     padding-bottom: 0;
                    &:last-of-type {
                        margin-top: 0;
                    }
                 }       

                button {
                    text-align: center;
                }
            }

            .img {
                grid-area: img;
            }
        }
    }

    /* Form */
    .form-wrap {
        .form {
            padding: 0 10px;
        }
    }
}