/* Variables*/
/* Global */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Inconsolata", monospace;
  color: #2c2c54;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding: 96px 0;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn:hover {
  background-position: 0 100%;
}

.btn-one {
  border-color: #ffffff;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #ffffff), color-stop(50%, #34ace0));
  background-image: linear-gradient(90deg, #ffffff 50%, #34ace0 50%);
}

.btn-one:hover {
  color: #34ace0;
}

/* Navigation */
.navigation {
  background-color: #34ace0;
  padding: 12px 0;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation ul ul {
  display: none;
  position: absolute;
  background-color: #ffffff;
}

.navigation ul ul a {
  color: #33d9b2;
}

.navigation ul ul a:hover {
  color: #34ace0;
}

.navigation ul ul li {
  display: block;
  padding: 0 24px;
  padding-top: 12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 12px;
}

.navigation li {
  display: inline-block;
  margin-right: 36px;
  position: relative;
}

.navigation li:hover ul {
  display: block;
  text-align: center;
}

.navigation a {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: .2s;
  transition: .2s;
}

.navigation a:hover {
  color: #33d9b2;
}

/* Header */
.splash {
  background-color: #34ace0;
  color: #ffffff;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.splash .splash-inner {
  margin: auto;
  max-width: 70%;
}

.splash .splash-inner h1 {
  margin: 0;
  font-size: 72px;
  word-spacing: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.splash .splash-inner h1 span {
  font-family: "Signika", sans-serif;
}

.splash .splash-inner h2 {
  margin: 24px 0;
  font-weight: 400;
  font-size: 16px;
}

.splash .splash-inner a.btn-one {
  margin-left: 0;
}

/* Services */
.services h1 {
  font-size: 48px;
  margin: 0 0 72px 0;
  padding-top: 0;
}

.wrapper-ser {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

.wrapper-ser .btn-service {
  margin: 0 auto;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.wrapper-ser .btn-service .btn-four {
  border-color: #34ace0;
  color: #34ace0;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #34ace0), color-stop(50%, #ffffff));
  background-image: linear-gradient(90deg, #34ace0 50%, #ffffff 50%);
}

.wrapper-ser .btn-service .btn-four:hover {
  color: #ffffff;
}

.wrapper-ser .btn-service .btn-three {
  border-color: #ff5252;
  color: #ff5252;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #ff5252), color-stop(50%, #ffffff));
  background-image: linear-gradient(90deg, #ff5252 50%, #ffffff 50%);
}

.wrapper-ser .btn-service .btn-three:hover {
  color: #ffffff;
}

.wrapper-ser .btn-service .btn-two {
  border-color: #33d9b2;
  color: #33d9b2;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #33d9b2), color-stop(50%, #ffffff));
  background-image: linear-gradient(90deg, #33d9b2 50%, #ffffff 50%);
}

.wrapper-ser .btn-service .btn-two:hover {
  color: #ffffff;
}

.wrapper-ser .item {
  position: relative;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrapper-ser .item h3 {
  font-family: "Signika", sans-serif;
  font-size: 144px;
  line-height: 1;
  position: absolute;
  opacity: 0.3;
  color: #34ace0;
  top: -160px;
  left: 0;
}

.wrapper-ser .item h4 {
  font-size: 24px;
  margin: 0 0 12px 0;
}

.wrapper-ser .item p {
  color: #2c2c54;
  font-family: "Inconsolata", monospace;
  padding-right: 4vw;
}

.wrapper-ser .item p:first-of-type {
  font-weight: bold;
}

/* Work */
h1 {
  font-size: 48px;
  margin: 0;
  padding: 0 0 30px 0;
}

.work .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.work .wrapper .box-wrap {
  min-height: 300px;
  padding-bottom: 96px;
  display: -ms-grid;
  display: grid;
  grid-template: "img box" 1fr;
}

.work .wrapper .box-wrap .img {
  height: 100%;
  max-width: 250px;
  position: relative;
  grid-area: img;
}

.work .wrapper .box-wrap .img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.box {
  max-width: 250px;
  padding-left: 30px;
  height: 100%;
  grid-area: box;
}

.box p {
  text-align: justify;
  padding: 0 2vw 0 15px;
}

.box p:last-of-type {
  font-weight: bolder;
}

.box h3 {
  text-align: left;
  padding-left: 1vw;
}

.box .btn-five {
  border: none;
  margin: 36px 0;
  padding: 0 1vw;
  text-align: left;
  background-color: transparent;
  color: #34ace0;
  font-weight: bolder;
}

.box .btn-five:hover {
  color: #33d9b2;
}

.img::after {
  position: absolute;
  content: '';
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.3;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.img:hover::after {
  top: 0;
  left: 0;
}

/* Form */
.form-section {
  background-color: #34ace0;
}

.form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-wrap .form {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding-right: 96px;
}

.form-wrap .form h1 {
  color: #ffffff;
  padding: 0 0 0 2vh;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.form-wrap .form input,
.form-wrap .form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #ffffff;
  color: #ffffff;
  width: 100%;
  padding: 15px 0 15px 0;
  font-size: 18px;
}

.form-wrap .form input:focus,
.form-wrap .form textarea:focus {
  background-color: transparent;
  outline-color: transparent;
}

.form-wrap .form input:valid,
.form-wrap .form textarea:valid {
  outline-color: transparent;
}

.form-wrap .form input::-webkit-input-placeholder,
.form-wrap .form textarea::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 16px;
}

.form-wrap .form input:-ms-input-placeholder,
.form-wrap .form textarea:-ms-input-placeholder {
  color: #ffffff;
  font-size: 16px;
}

.form-wrap .form input::-ms-input-placeholder,
.form-wrap .form textarea::-ms-input-placeholder {
  color: #ffffff;
  font-size: 16px;
}

.form-wrap .form input::placeholder,
.form-wrap .form textarea::placeholder {
  color: #ffffff;
  font-size: 16px;
}

.form-wrap .personal-data {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #ffffff;
  padding-top: 16vh;
}

.form-wrap .personal-data h2 {
  font-size: 20px;
}

.form-wrap .personal-data h2,
.form-wrap .personal-data p {
  margin: 0;
}

/* Footer */
footer {
  background-color: #ffffff;
  padding: 46px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .social-links {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

footer .social-links li {
  display: inline-block;
  border: 2px solid #ff5252;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 0;
  border-radius: 30px;
  position: relative;
  background-color: #ff5252;
  -webkit-transition: .2s;
  transition: .2s;
}

footer .social-links li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .social-links li a {
  display: block;
  width: 100%;
  height: 100%;
}

footer .social-links li a i {
  color: #ffffff;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* Media */
@media (min-width: 768px) and (max-width: 991px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation ul {
    margin: auto;
  }
  /* Header */
  header {
    height: auto;
  }
  header .splash-inner {
    text-align: center;
  }
  header .splash-inner h1,
  header .splash-inner h2 {
    text-align: center;
    margin-left: 0;
  }
  header a.btn-one {
    margin: 0 0 30px 0;
  }
  /* Form */
  .form {
    position: relative;
  }
  .form button {
    position: absolute;
    left: 50%;
  }
  /* Our work */
  .work {
    padding-top: 0;
  }
  .work .wrapper .box-wrap {
    display: -ms-grid;
    display: grid;
    margin: auto;
    grid-template: "img" auto "box" auto;
  }
  .work .wrapper .box-wrap .box {
    grid-area: box;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work .wrapper .box-wrap .box p {
    text-align: left;
    padding-bottom: 0;
  }
  .work .wrapper .box-wrap .box p:last-of-type {
    margin-top: 0;
  }
  .work .wrapper .box-wrap .box button {
    margin: 0;
    text-align: center;
  }
  .work .wrapper .box-wrap .img {
    max-height: 204px;
    grid-area: img;
  }
}

@media (max-width: 767px) {
  /* Navigation */
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation ul {
    margin: auto;
  }
  /* Header*/
  header {
    height: auto;
  }
  header .splash-inner {
    text-align: center;
  }
  header .splash-inner h1.page-title {
    padding-top: 10px;
    font-size: 42px;
  }
  header .splash-inner h2 {
    text-align: center;
    margin-left: 0;
  }
  header .splash-inner a.btn-one {
    margin: 0 0 30px 0;
  }
  * h1 {
    text-align: center;
  }
  /* Our work */
  .work {
    padding-top: 0;
  }
  .work .wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .work .wrapper .box-wrap {
    margin: 15px auto;
  }
  .work .wrapper .box-wrap .box {
    padding-top: 0;
    margin: 0 auto;
  }
  .work .wrapper .box-wrap .box h3 {
    margin-top: 0;
  }
  .work .wrapper .box-wrap .box p {
    padding: 0;
  }
  .work .wrapper .box-wrap .box button {
    margin: 0;
  }
  .work .wrapper .box-wrap .img {
    max-height: 204px;
    min-width: 250px;
  }
  .services div.container .wrapper-ser {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .services div.container .wrapper-ser .btn-service {
    margin: 0 auto;
  }
  .services div.container .wrapper-ser .item {
    text-align: justify;
    padding-bottom: 40px;
    width: 70vw;
    margin: 50px auto;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  /* Form */
  .form-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form {
    position: relative;
    padding-left: 15vw;
  }
  .form button {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .personal-data {
    margin-top: 50px;
    text-align: center;
  }
}

@media (max-width: 461px) {
  /* Navigation */
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation ul {
    margin: auto;
  }
  .navigation ul li {
    margin: 0;
  }
  /* our work */
  .work {
    padding-top: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .work .wrapper .box-wrap {
    grid-template: "img" auto "box" auto;
    margin: 15px auto;
    padding-bottom: 0;
  }
  .work .wrapper .box-wrap .box {
    grid-area: box;
    padding: 30px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work .wrapper .box-wrap .box p {
    padding-bottom: 0;
  }
  .work .wrapper .box-wrap .box p:last-of-type {
    margin-top: 0;
  }
  .work .wrapper .box-wrap .box button {
    text-align: center;
  }
  .work .wrapper .box-wrap .img {
    grid-area: img;
  }
  /* Form */
  .form-wrap .form {
    padding: 0 10px;
  }
}
/*# sourceMappingURL=style.css.map */